<div class="container">
    <div class="row">
        <div class="col">
            Commit Hash: {{CommitHash}}<br/>
            Build Timestamp: {{BuildTimestamp}}
        </div>
    </div>
</div>
</body>
</html>